*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(167, 207, 241);
}

body{
    display: flex;
    flex-direction: column;
}

#wrapper-div{
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 80%;
    min-height: 5em;
    margin: auto;
    margin-top: 10px;

}

#left-div{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height:40em ;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#right-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 40em;
    background-color: red;
    margin-left: 10px;   
}

#upper-area-div{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    width: 100%;
    min-height: 15em;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#lower-area-div{
    display: flex;
    flex-direction: row;
    background-color: blue;
    margin-top: 10px;
    width: 100%;
    min-height: 30em;
}

#nested-left-div{
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin-top: 10px;
    width: 50%;
    min-height: 25em;
    justify-content: center;
    align-items: center;
}

#nested-right-div{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 50%;
    min-height: 25em;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

#div-4a{
    display: flex;
    flex-direction: row;
    background-color:lightgray ;
    width: 100%;
    min-height: 9.5em;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
}

#div-4b{
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin-top: 10px;
  width: 100%;
  min-height: 9.5em;
  justify-content: center;
  align-items: center
}