<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div id="wrapper-div">
        <div id="upper-area-div">
            <div id="upper-left-div">
                1
            </div>
            <div id="upper-right-wrapper-div">
                 <div class="nested-right-upper-div">
                    <div class="boxes">
                           2
                    </div>
                    <div class="boxes">
                           3
                    </div>
                 </div>
                 <div class="nested-right-upper-div">
                    <div class="boxes">
                           4
                    </div>
                    <div class="boxes">
                           5
                    </div>
                 </div>
                 
            </div>

        </div>
        <div id="lower-area-div">
            <div id="upper-right-wrapper-div">
                <div class="nested-right-upper-div">
                   <div class="boxes">
                          2
                   </div>
                   <div class="boxes">
                          3
                   </div>
                </div>
                <div class="nested-right-upper-div">
                   <div class="boxes">
                          4
                   </div>
                   <div class="boxes">
                          5
                   </div>
                </div>   
                
        </div>
        <div id="upper-left-div">
            1
        </div>  
        
    </div>
</body>
</html>