*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 198, 214);
    width: 80%;
    min-height: 20em;
    margin: auto;
}

#wrapper-div{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(151, 198, 214);
    width: 80%;
    min-height: 20em;
    margin: auto; */
}

#header-div{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    width: 100%;
    min-height: 5em;
    /* margin: 20px 20px 0 20px; */
    margin-top: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

#main-content-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30em;
    /* background-color:red ; */
}

#aside-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 199, 75);
    min-height: 30em;
    width: 30%;
    margin-top: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

#body-div{
    display: flex;
    flex-direction: column;
    background-color: orange;
    min-height: 30em;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
}

#article-div{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    width: 100%;
    min-height: 15em;
    justify-content: end;
    align-items: center;
    color: white;
}

#image-container-div{
    display: flex;
    flex-direction: space-around;
    /* background-color: blue; */
    min-height: 15em;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 121);    
    min-height: 15em;
    flex-basis: 31%;
    justify-content: space-around;
    align-items: center;
    /* color: white; */
    margin-left: 20px;
    
}

#footer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    width: 100%;
    min-height: 5em;
    align-items: center;
    margin-top: 20px;
}

