*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

#wrapper-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 198, 214);
    width: 80%;
    min-height: 20em;
    margin: auto;
}

#header-div{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    width: 100%;
    min-height: 5em;
    /* margin: 20px 20px 0 20px; */
    margin-top: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

#main-content-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 15em;
    background-color:red ;
}